@import "@/styles/colors.scss";

.sorting-button-div {
  display: flex;
  gap: 0.6rem;
  // padding: 0.6rem;
  width: 100%;
  button {
    all: unset;
    cursor: pointer;
    text-align: left;
    padding: 0.5rem 0.8rem;
    background-color: $color2;
    color: white;
    font-weight: bold;
    border-radius: 4px;
  }
  .active-btn {
    background-color: $color3;
  }
}
