// Typo: Ubunto
// #F2071B
// #1797A6
// #106973
// #29C7D9
// #F2CC0C

@import "./colors.scss";

body {
  margin: 0;
  background-color: $background-color;
}
#__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // div {
  //   width: 100%;
  // }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 960px;
}
